* {
  margin: 0;
  padding: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

#homecover {
  width: 100vw;
  height: 100vh;
  background-image: url("/images/cinema.jpg");
  background-size: 100vw 120vh;
  display: flex;
  justify-content: flex-end;
}

#homecover > div {
  padding: 10vh;
}

#homecover > div > h1 {
  color: white;
  font-size: 8rem;
}

#homecover > div > button {
  background-color: rgb(240, 240, 240);
  width: 300px;
  height: 70px;
  border: 0;
  margin-bottom: 10px;
  border-radius: 50px;
  margin-top: 20px;
}

#homecover > div > button > a {
  text-decoration: none;
  font-size: 1.5rem;
  color: #4c738e;
  font-weight: bold;
}

#moviesheader {
  padding: 20px;
}

#moviesheader > h1 {
  padding: 10px;
  font-size: 2rem;
}

#moviesheader > h2 {
  padding: 10px;
  font-weight: lighter;
}

#moviesbox {
  width: 96%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  align-content: center;
  justify-content: flex-start;
}

#moviesbox .movie-card {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  justify-content: center;
  width: 30vw;
  padding: 5px;
  margin-bottom: 25px;
}

.movie-card img {
  margin: 0 auto;
  width: 200px;
}

.movie-card p {
  font-weight: bold;
  padding: 10px;
}

.movie-card a {
  padding: 5px;
}

#moviedetail {
  width: 100vw;
  height: 100vh;
  display: flex;
}

#moviedetailcard {
  width: 30vw;
  height: 50vh;
  margin-top: 30px;
}

#moviedetail > img {
  width: 200px;
  height: 300px;
  padding: 40px;
}

#horizontallist {
  display: inline;
}

ul {
  list-style-position: inside;
}

#moviedetailcard > h1 {
  margin: 15px 0px;
}

#moviedetailcard > h2 {
  margin: 15px 0px;
}

#moviedetailcard > h3 {
  margin: 15px 0px;
}

#moviedetailcard > p {
  margin: 15px 0px;
}
